spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/**

#management:
#  endpoints:
#    web:
#      exposure:
#        include: health, metrics, mappings

server:
  port: 8080

