spring:
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/*,/admin/users
        - id: request_service_route
          uri: lb://request-service
          predicates:
              - Path=/users/*/requests/**, /users/*/events/*/requests
        - id: comment_service_route
          uri: lb://comment-service
          predicates:
            - Path=/admin/comments/**, /users/*/events/*/comments/**, /events/*/comments/**
        - id: event_service_route
          uri: lb://event-service
          predicates:
            - Path=/**

management:
  endpoint:
    gateway:
      access: read-only
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway, health, metrics, mappings

server:
  port: 8080

