spring:
  datasource:
    driverClassName: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/ewm"
    username: "ewm"
    password: "ewm"
  sql.init.mode: always
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 50
        failureRateThreshold: 50

logging:
  level:
    org:
      zalando:
        logbook: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, mappings

server:
  port: 0